html {
    --default-padding: 16px;
    --default-radius: 12px;
    --title-color: #404850;
    --text-color: #575b5e;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg, rgb(76, 200, 200), rgb(32, 32, 51));
  color: var(--title-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  padding: calc(var(--default-padding) * 4);
  margin: 0px;
}

.editor {
    position: relative;
    flex: 0 1 540px;
    padding: calc(var(--default-padding) * 2);
    background-color: rgba(240, 248, 255, 0.85);
    border-radius: var(--default-radius);
    transform-style: preserve-3d;
    transform: translateZ(-1px);
    box-shadow: 0px 5px 100px 20px rgba(0,0,0,.6);
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 60px auto 60px;
    height: auto;
    color: rgba(0,0,0,0.6);
    padding: calc(var(--default-padding) / 2) var(--default-padding);
}

.header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.button {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background-color: #a4a5a9;
    margin-right: calc(var(--default-padding) / 2);
}

.button:nth-child(1):hover {
    background-color: #b83232;
}

.button:nth-child(2):hover {
    background-color: #32b87a;
}

.button:nth-child(3):hover {
    background-color: #3292b8;
}